{% extends 'worker/layouts/std_head_foot.html' %}

{% block content %}

{% if form.errors %} 
    {% for key, value in form.errors.items %}
        <p>{{ value }}</p>
    {% endfor %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table class="mb2">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}