
/* ------------------------------ Sticky footer styles ------------------------------ */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* ------------------------------ metaord styles ------------------------------ */

.p1 {
  padding: 1vw;
}

.mb2 {
    margin-bottom: 2vw;
}

.mb4 {
    margin-bottom: 4vw;
}

.mb8 {
    margin-bottom: 8vw;
}

.dropdown-menu>li>span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}