{% extends 'metaord/layouts/basic.html' %}
{% load staticfiles %}

{% block title %}Worker pages{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/worker.css' %}" />
{% endblock extra_head %}

{% block header %}
<div class="mb4">
    <h1><a href="/">Metaroder</a></h1>
    {% if user.is_authenticated %}
        <p>Hello {{ user.first_name }}<small> (<a href="{% url 'logout' %}">Log out</a>)</small></p>
        <p><a href="{% url 'worker:register' %}">Register new operator</a></p>
    {% endif %}
</div>
{% endblock header %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <h3>Metaorder CRM {% now "Y" %}</h3>
    </div>
</footer>
{% endblock footer %}

{% block extra_scripts %}
    <script src="{% static 'js/worker.js' %}"></script>
{% endblock extra_scripts %}