{% extends 'metaord/layouts/basic.html' %}
{% load bootstrap3 %}

{% block content %}
    {% include "metaord/fragments/appy_datapick.html" with selector="#id_post_date" %}

    <h3>Обновление заказа</h3>
    <h4 class="mb2"><a href="{% url 'chief:orders' %}">К списку заказов</a></h4></p>
    <form method="POST" action="{% url 'chief:order_upd' pk=pk %}" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}      
        {% buttons %}
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-primary">Обновить</button>
            </div>
        {% endbuttons %}
    </form>
{% endblock content %}
