<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Greetings!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="application/javascript">
        window.onload = function () {
            document.getElementById("logout").onclick = function() {
                document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
            }
        }
    </script>
</head>
<body>
    <p th:text="${greeting}" />
    <form action="#" th:action="@{/welcome}" method="post">
        <p><input id="logout" type="submit" value="Logout"/></p>
    </form>
</body>
</html>
