
<script type="application/javascript">
    window.onload = function () {
        var password = document.getElementById("{{ passw1 }}"),
            confirm_password = document.getElementById("{{ passw2 }}");
        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    }
</script>