{% load urls_utils %}

<h3>Orders:</h3>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Автор</th> 
        <th>Дата</th>
        <th>Email</th>
        <th>Комментарий</th>
        <th>Статус</th>
        <th></th>
    </tr>
    {% for order in orders %}
        <tr>
            <td>{{ order.pk }}</td>
            <td>{{ order.author }}</td>
            <td>{{ order.post_date }}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.text|linebreaksbr }}</td>
            <td>{{ order.status }}</td>
            <td>
                {% if details_view_name %}
                    <a href="{% namespaced_url app_name details_view_name pk=order.pk %}">Подробнее</a>
                {% endif %}
                {% if edit_view_name %}
                    <a href="{% namespaced_url app_name edit_view_name pk=order.pk %}">{{ edit_msg|default:"Редактировать" }}</a>
                {% endif %}
            </td>

        </tr>
    {% endfor %}
</table>
