<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Refistration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="application/javascript">
        window.onload = function () {
            var password = document.getElementById("password"),
                confirm_password = document.getElementById("confirm_password");

            function validatePassword(){
                if(password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }
            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        }
    </script>
</head>
<body>
<h2>Sign-up</h2>
<p th:text="${invalid_username != null} ? ${invalid_username}"></p>
<p th:text="${invalid_password != null} ? ${invalid_password}"></p>
<p th:text="${name_busy != null} ? ${name_busy}"></p>
<form action="#" th:action="@{/sign-up}" th:object="${user}" method="post">
    <p>Name: <input type="text" th:field="*{name}" required="required"/></p>
    <p>Password: <input type="password" th:field="*{password}" id="password" required="required"/></p>
    <p>Confirm password: <input type="password" id="confirm_password" required="required"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>
