{% load staticfiles %}
<html>
<head>
    <title>{% block title %}Metaorder CRM{% endblock %}</title>
    <meta content="text/html" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{% static 'css/metaord.css' %}" />
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block header %}
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

{% block footer %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static 'js/metaord.js' %}"></script>
{% block extra_scripts %}
{% endblock %}
</body>
</html>